body{      min-width: 1000px;
            background-color: gray;
            margin:0px auto;

            }

.container{
           min-width: 1000px;
            
            margin: auto;
            height: auto;
            background-color: greenyellow;
            }

.logo{      float: left;
             padding:15px;
             }

.search{    float: right;
            padding: 65px;
            }

.clearfix{  clear: both;
            }

.main_menu{
            background-color: teal;
            }

.main_menu>ul{color: black;
              margin:0px;
              padding:0px;
              /*text-decoration: none;*/
              list-style-type: none;
            }
     
.main_menu>ul>li{display:inline-block;}   

.main_menu>ul>li>a{
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 15px;
                    font-size:small ;
                    font-family: sans-serif;
                    }         

.main_menu>ul>li>a:hover{
                    background-color: yellowgreen;
                    }             

.drop{              list-style-type: none;
                    margin:0px;
                    padding:0px;
                    position: absolute;
                    display: none;
                    Z-index:999;

            }           
.drop>li>a{ text-decoration: none; 
            color:white;
            display: block;
            padding: 15px;
            font-family: sans-serif;
            font-size:small;
            background-color: black;
            
            }      

.drop>li>a:hover{
                background-color: yellowgreen;
                }

.main_menu>ul>li:hover .drop{
    display: block;
                }

.banner{width: auto;
       height: auto;
       overflow: hidden;
       

}      
.banner>img{min-width: 100%;
            height:350px;
}          
.contentholder{
                background-color:royalblue;
                }
.content{
    width:700px;
    padding:10px;
    float: left;
    height: auto;
    background-color: white;
}                
.content h1{
    font-family: sans-serif;
    font-size: 1.5em;
}
.content p{
    font-family: sans-serif;
    font-size: small;
}
.slidebar{
    float: left;
    padding: 25px;
}
.slidebar h3{font-family: sans-serif;
            color:white;            }
.slidebar ul{
        margin:0px;
        padding:0px;
        list-style-type:none;}

.slidebar ul>li>a{display: block;
                    margin-bottom: 5px;
                    text-decoration: none;
                    color:white;
                    font-family: sans-serif;
                    font-size:small;
}        
.mainfooter{
    background-color: wheat;
    color: black;
    padding:25px;
    font-size:small;
    font-family: sans-serif;
    height: auto;
    widows: 950px;


}
.footerbox{width:237.5px;
            height: auto;
            float: left;
            font-family: sans-serif;
}
.footerbox>ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.footerbox>ul>li>a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: small;
    color:crimson;
    margin-bottom: 5px;
    display: block;
    
}
address p{
    font-size: small;
}
.footerbox address a{
    color: red;
    font-size:small;    
}
.copy{
    text-align: center;
    padding:5px;
    background-color: greenyellow;
    font-family: sans-serif;
}
.copy p{margin: 5px;}

@media(max-width:500px){
    .container{background-color: orange;}
}
.product-list{
    background-color:yellow;
    padding: 10px;
}
.product{
    float: left;
    padding : 125px;
    height: auto;
    border: 1px solid black;
    margin: 5px;
}
.product-caption p{font-weight: bold;

}
.product-caption del{color: red;}
.product-caption ins{
    color: green;
}
.product-caption a{
    display:block;
    background-color: yellowgreen;
    padding: 8px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
}
.banner iframe{width: 30%;
    padding:15px;
    float: left;
    
    }
.contact_form{

      float:left;
      }
